<!--Compara si la variable isLogged es verdaddera para mostrar el menu-->
<div class="po-wrapper" *ngIf="isLogged==true; else elseBlock">

  <!--Menu lateral izquierdo-->
  <po-menu p-collapsed=false p-filter [p-menus]="menus">
    <!--Encabezado de menu lateral izquierdo-->
    <div *p-menu-header-template class="po-p-12 po-font-title sample-menu-header-text-color">
      <app-photho-user></app-photho-user>
    </div>
  </po-menu>

  <!--Toolbar posterior-->
  <po-toolbar p-title="TOTVS" [p-profile]="profile" [p-profile-actions]="profileActions" [p-show-notification]="false">
  </po-toolbar>

  <!--Router outlet dinamico-->
  <po-page-detail [p-title]="menuItemSelected">
    <router-outlet></router-outlet>
  </po-page-detail>

</div>

<!--Ng template que se lanzara mientras el usuario no tenga datos almacenados en el localstorage-->
<ng-template #elseBlock>
  <app-login></app-login>
</ng-template>