<!--Formulario para ingresar los datos de una nueva tarea-->
<po-dynamic-form #dynamicForm p-auto-focus="name" [p-fields]="fields" [p-validate-fields]="validateFields"
    [p-value]="task">
</po-dynamic-form>

<!--Boton que accionara el registro de los datos en la BD-->
<div class="po-row">
    <po-button class="po-md-3" p-label="Save" [p-disabled]="dynamicForm?.form.invalid"
        (p-click)="poNotification.success('Data saved successfully!'); Submit(dynamicForm) ;dynamicForm.form.reset()">
    </po-button>
</div>